
{% extends "base.html" %} {% load static %}

{% block title %} 寫文章 {% endblock title %}

{% block content %}

<!-- 文章表單 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <!-- 提交文章的表單 -->
            <form method="post" action="." enctype="multipart/form-data">
                <!-- Django中需要POST數據的地方都必須有csrf_token -->
                {% csrf_token %}
                <!-- 文章標題圖 -->
                <div class="form-group">
                    <label for="avatar">標題圖</label>
                    <input type="file" class="form-control-file" name="avatar" id="avatar">
                </div>
                <!-- 文章標題 -->
                <div class="form-group">
                    <label for="title">文章標題</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>

                 <!-- 文章分類 -->
                <div class="form-group">
                    <label for="column">分類</label>
                    <select class="form-control" 
                            id="column" 
                            name="column"
                    >
                        <option value="none">請選擇分類..</option>
                    {% for column in columns %}
                        <option value="{{ column.id }}">{{column}}</option>
                    {% endfor %}
                    </select>
                </div>

                
                <!-- 文章正文 -->
                <div class="form-group">
                    <label for="body">文章正文</label>
                    <!-- 文本區域 -->
                    <textarea type="text" class="form-control" id="body" name="body" rows="12"></textarea>
                </div>
                <br>
                <!-- 提交按鈕 -->
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}